
:root {
    --color_first: #0a1429;
    --color_second: #010A13;
    --color_letters: #fff;
    --color_letters_second: black;
    --color_interaction: #C89B3C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color_first);
    color: var(--color_letters);
    height: 100vh;
}

.cabecalho {
    background-color: var(--color_second);
    display: flex;
    justify-content: center;
}

/* classe da lista não ordenada */
.nav_bar {
    display: flex;
    margin: 30px;
    gap: 20px;
}

.item_nav {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
}

main {
    text-align: center;
}



footer {
    background-color: var(--color_second);
}



/*

.banner_campeoes {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imagens/campeoesGeral.jpg);
}

.banner_runas {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imagens/todasRunas.jpg);
    background-position: top;
}

.banner_rotas {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imagens/rotasTodas.jpg);
}

.banner_objetivos {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imagens/objetivoPrincipalArte.jpg);
}

.banner_itens {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../imagens/itensGeral.jpg);
}
    